# docker-compose.yml
DEV_DB_NAME=dbsystemdata
DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=Q1234567
#app
ENV_MODE=production
# db
DATABASE_DSN=host=localhost user=postgres password=Q1234567 dbname=dbsystemdata port=5437 sslmode=disable
DATABASE_URL=postgres://postgres:Q1234567@localhost:5437/dbsystemdata?sslmode=disable
# migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:Q1234567@localhost:5437/dbsystemdata?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations
# valkey
VALKEY_HOST=127.0.0.1
VALKEY_PORT=6379
VALKEY_USERNAME=
VALKEY_PASSWORD=
VALKEY_IS_SSL=false